body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  display: block;
}

.Mission {
  border-bottom: 1px solid seashell;
}

header {
  
}
