body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  margin: 0;
}

a {
  color: seashell;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}

.flex.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Header */

header {
  z-index: 1;
  width: 100%;
  height: 69px;
  position: fixed;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
}

header img {
  padding-left: 10px;
  height: 50px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

/* Mission section */

#Mission {
  height: 700px;
  background-image: url(https://github.com/piecesonnapkins/teacozy/blob/master/resources/images/img-mission-background.jpg?raw=true);
  text-align: center;
}

#Mission .content {
  background-color: black;
  margin: auto;
  width: 100%;
}

#Featured {
  border: 4px solid Aqua;
  width: 1000px;
}
#Locations {
  border: 4px solid red;
  width: 1200px;
  height: 500px;
  display: flex;
  flex-flow: row;
}

#Contact {
  border: 5px solid green;
  width: 1200px;
  height: 200px;
  justify-content: center;
}

footer {
  width: 100%;
  padding-left: 20px;
  border: 5px solid pink;
}
